/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #483585;
  --ifm-color-primary-dark: rgb(59, 40, 120);
  --ifm-color-primary-darker: rgb(47, 28, 108);
  --ifm-color-primary-darkest: rgb(34, 15, 95);
  --ifm-color-primary-light: rgb(85, 66, 146);
  --ifm-color-primary-lighter: rgb(98, 79, 159);
  --ifm-color-primary-lightest: rgb(110, 91, 171);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
